.navbar {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);

}

.container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-around;
}